.login-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.login-content{
    padding: 10px;
    background-color: #333333;
}
.login-content input, button{
    margin:5px 0px;
}
.login-content button{
    border: none;
}
.login-content input[type="text"], .login-content input[type="password"]{
    background: #222222;
    border: none;
    color: #dddddd ;
}
.login-content h1{
    text-align: center;
}
#login-invalido{
    border: #CD0000 1px solid;
    padding: 5px;
    background-color: #CD5555;
    color: #CD0000;
}
#login-invalido p{
    margin: 0px;
}