main{
  padding: 10px 10px 0px 10px;
}
.mainContainer{
    display: flex;
    flex-direction: column;
  }
div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px 0px 5px 0px;
}
div input, div select{
    padding: 10px;
    box-sizing: border-box;
    border: 1px #CCCCCC solid;
    color: #222222;
    transition: 0.2s;
}
div input:focus, div select:focus{
     border-color: #444444;
}
button, input[type=submit]{
    line-height: 30px;
    background-color: #444444;
    color: #CCCCCC;
}
button:hover, input[type=submit]:hover{
    background-color: #222222;
}
button:hover, input[type=submit]:active{
    background-color: #111111;
}
.tableContainer{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.tableContainer table{
    width: 100%;
    background-color: white;
}
.tableContainer thead{
    font-weight: bold;
}

